:root{
    --main-color : #30ACC8;
    --light-color :#E0F2FF;
    --card-color:#dcdcdc5e;
}


*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y:auto ;
    font-family: 'Poppins', sans-serif;
}
div.collapse{
    border-left: 1px solid white;
}

td{
    color: #575656;
    letter-spacing: 1.1px;
}
td:nth-last-of-type(5){
    font-size: 12px ;
}
div#example_filter {
    float: right;
}

@media (max-width: 575px) {
    #accordionSidebar{display: none}
}